/* regole di defaul */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* WARNING COLORI FONT SFONDI */
.tcw{
  color: white;
}
.tcg{
  color: #919496;
}
.tcb{
  color: black;
}
.tcr{
  color: red;
}
.bgcw{
  background-color: white;
}
.bgcbk {
  background-color: black;
}
/* WARNING VARI */
.tac{
  text-align: center;
}
.centro{
  max-width: 1170px;
  margin: 0 auto;
}
.block{
  display: inline-block;
}
.inline{
  display: inline;
}
.middle{
  vertical-align: middle;
}
.up{
  text-transform: uppercase;
}
.low{
  text-transform: lowercase;
}
.cap{
  text-transform: capitalize;
}
.lh{
  line-height: ;
}
/* WARNING UL E LI */
.text_underline{
  text-decoration: underline;
}
.text_none{
  text-decoration: none;
}
/* WARNING PADDING */
/* TOP */
.pdt_120{
  padding-top: 120px;
}
.pdt_90{
  padding-top: 50px;
}
.pdt_50{
  padding-top: 50px;
}
.pdt_30{
  padding-top: 30px;
}
.pdt_20{
  padding-top: 20px;
}
.pdt_10{
  padding-top: 10px;
}
.pdt_5{
  padding-top: 5px;
}
/* BOTTOM */
.pdb_50{
  padding-bottom: 50px;
}
.pdb_30{
  padding-bottom: 30px;
}
.pdb_20{
  padding-bottom: 20px;
}
.pdb_10{
  padding-bottom: 10px;
}
.pdb_5{
  padding-bottom: 5px;
}
/* RIGHT */
.pdr_30{
  padding-right: 30px;
}
.pdr_20{
  padding-right: 20px;
}
.pdr_10{
  padding-right: 10px;
}
.pdr_5{
  padding-right: 5px;
}
/* LEFT */
.pdl_150{
  padding-left: 150px;
}
.pdl_50{
  padding-left: 50px;
}
.pdl_30{
  padding-left: 30px;
}
.pdl_20{
  padding-left: 20px;
}
.pdl_10{
  padding-left: 10px;
}
.pdl_5{
  padding-left: 5px;
}
/* WARNING MARGINI */
/* TOP */
.mgt_0{
  margin-top: 0px;
}
.mgt_5{
  margin-top: 5px;
}
.mgt_10{
  margin-top: 10px;
}
.mgt_20{
  margin-top: 20px;
}
.mgt_40{
  margin-top: 40px;
}
.mgt_60{
  margin-top: 60px;
}
.mgt_80{
  margin-top: 80px;
}
.mgt_100{
  margin-top: 100px;
}
/* BOTTOM */
.mgb_10{
  margin-bottom: 10px;
}
.mgb_20{
  margin-bottom: 20px;
}
.mgb_40{
  margin-bottom: 40px;
}
.mgb_60{
  margin-bottom: 60px;
}
.mgb_80{
  margin-bottom:80px;
}
.mgb_100{
  margin-bottom:100px;
}
/* RIGHT LEFT */
.mgr_20{
    margin-right:20px;
}
.mgl_20{
    margin-left:20px;
}
.mgr_40{
    margin-right:40px;
}
.mgl_40{
    margin-left:40px;
}
.mgr_60{
    margin-right:60px;
}
.mgl_60{
    margin-left:60px;
}
.mgr_80{
    margin-right:80px;
}
.mgl_80{
    margin-left:80px;
}
.mgr_100{
    margin-right:100px;
}
.mgl_100{
    margin-left:100px;
}
.mgr_120{
    margin-right:120px;
}
.mgl_120{
    margin-left:120px;
}
.mgr_150{
    margin-right:150px;
}
.mgl_150{
    margin-left:150px;
}
.mgl_200{
    margin-left:200px;
}
/* IMMAGINI */
.small{
  height: 150px;
}
.medium{
  height: 250px;
}
.large{
  height: 350px;
}
.circle{
  border-radius: 999rem;
}
.opa{
  opacity: 0.5;
}
/* WARNING CLEARFIX  FLOAT*/
.clearfix{
  content: "";
  display: table;
  clear: both;
}
.float-left{
  float: left;
}
.float-right{
  float: left;
}
/* AFTER E BEFORE */
.div::before{
  content: '';
  display: block;
  width: ;
  height: ;
  position: absolute;
  content: "";
  font-family: "FontAwesome";
  top: ;
  left: ;
}
/* WARNING FLEX  */
.column{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}
/* REGOLE ASSE Y */
.aic{
align-items: center;
}
.ais{
align-items: start;
}
.aie{
align-items: end;
}
/* REGOLE ASSE X */
.jcs{
 justify-content: flex-start;
}
.jce{
  justify-content: flex-end;
}
.jcc{
  justify-content: center;
}
.spb{
  justify-content: space-between;
}
.spa{
  justify-content: space-around;
}
/* WARNING FRAMEWORK */
.col-lg-1 {
  width:calc(100% / 12 * 1)
}
.col-lg-2{
  width:calc(100% / 12 * 2)
}
.col-lg-3{
  width:calc(100% / 12 * 3)
}
.col-lg-4{
  width:calc(100% / 12 * 4)
}
.col-lg-5{
  width:calc(100% / 12 * 5)
}
.col-lg-6{
  width:calc(100% / 12 * 6)
}
.col-lg-7{
  width:calc(100% / 12 * 7)
}
.col-lg-8{
  width:calc(100% / 12 * 8)
}
.col-lg-9{
  width:calc(100% / 12 * 9)
}
.col-lg-10{
  width:calc(100% / 12 * 10)
}
.col-lg-11{
  width:calc(100% / 12 * 11)
}
.col-lg-12{
  width:calc(100% / 12 * 12)
}
.col-lg-display-none{
  display: none;
}
/* WARNING MEDIA MD */
@media screen and (min-width:768px) and (max-width:992px) {
  .col-md-1{
    width: calc(100% / 12);
  }
  .col-md-2{
    width:calc(100% / 12 * 2)
  }
  .col-md-3{
    width:calc(100% / 12 * 3)
  }
  .col-md-4{
    width:calc(100% / 12 * 4)
  }
  .col-md-5{
    width:calc(100% / 12 * 5)
  }
  .col-md-6{
    width:calc(100% / 12 * 6)
  }
  .col-md-7{
    width:calc(100% / 12 * 7)
  }
  .col-md-8{
    width:calc(100% / 12 * 8)
  }
  .col-md-9{
    width:calc(100% / 12 * 9)
  }
  .col-md-10{
    width:calc(100% / 12 * 10)
  }
  .col-md-11{
    width:calc(100% / 12 * 11)
  }
  .col-md-12{
    width:calc(100% / 12 * 12)
  }
  .col-md-display-none{
    display: none;
  }
}

/* WARNING MEDIA XS */
@media screen and (max-width:768px) {
  .col-xs-1{
    width: calc(100% / 12);
  }
  .col-xs-2{
    width:calc(100% / 12 * 2)
  }
  .col-xs-3{
    width:calc(100% / 12 * 3)
  }
  .col-xs-4{
    width:calc(100% / 12 * 4)
  }
  .col-xs-5{
    width:calc(100% / 12 * 5)
  }
  .col-xs-6{
    width:calc(100% / 12 * 6)
  }
  .col-xs-7{
    width:calc(100% / 12 * 7)
  }
  .col-xs-8{
    width:calc(100% / 12 * 8)
  }
  .col-xs-9{
    width:calc(100% / 12 * 9)
  }
  .col-xs-10{
    width:calc(100% / 12 * 10)
  }
  .col-xs-11{
    width:calc(100% / 12 * 11)
  }
  .col-xs-12{
    width:calc(100% / 12 * 12)
  }
  .col-xs-display-none{
    display: none;
  }
}
/* FRAMEWORK OFFSET */
.col-lg-offset-1{
  margin-left:calc(100% / 12 * 1)
}
.col-lg-offset-2{
  margin-left:calc(100% / 12 * 2)
}
.col-lg-offset-3{
  margin-left:calc(100% / 12 * 3)
}
.col-lg-offset-4{
  margin-left:calc(100% / 12 * 4)
}
.col-lg-offset-5{
  margin-left:calc(100% / 12 * 5)
}
.col-lg-offset-6{
  margin-left:calc(100% / 12 * 6)
}
.col-lg-offset-7{
  margin-left:calc(100% / 12 * 7)
}
.col-lg-offset-8{
  margin-left:calc(100% / 12 * 8)
}
.col-lg-offset-9{
  margin-left:calc(100% / 12 * 9)
}
.col-lg-offset-10{
  margin-left:calc(100% / 12 * 10)
}
.col-lg-offset-11{
  margin-left:calc(100% / 12 * 11)
}
.col-lg-offset-12{
  margin-left:calc(100% / 12 * 12)
}

@media screen and (min-width:768px) and (max-width:992px){
  .col-md-offset-1{
    margin-left:calc(100% / 12 * 1)
  }
  .col-md-offset-2{
    margin-left:calc(100% / 12 * 2)
  }
  .col-md-offset-3{
    margin-left:calc(100% / 12 * 3)
  }
  .col-md-offset-4{
    margin-left:calc(100% / 12 * 4)
  }
  .col-md-offset-5{
    margin-left:calc(100% / 12 * 5)
  }
  .col-md-offset-6{
    margin-left:calc(100% / 12 * 6)
  }
  .col-md-offset-7{
    margin-left:calc(100% / 12 * 7)
  }
  .col-md-offset-8{
    margin-left:calc(100% / 12 * 8)
  }
  .col-md-offset-9{
    margin-left:calc(100% / 12 * 9)
  }
  .col-md-offset-10{
    margin-left:calc(100% / 12 * 10)
  }
  .col-md-offset-11{
    margin-left:calc(100% / 12 * 11)
  }
  .col-md-offset-12{
    margin-left:calc(100% / 12 * 12)
  }
}

@media screen and (max-width:768px){
  .col-xs-offset-1{
    margin-left:calc(100% / 12 * 1)
  }
  .col-xs-offset-2{
    margin-left:calc(100% / 12 * 2)
  }
  .col-xs-offset-3{
    margin-left:calc(100% / 12 * 3)
  }
  .col-xs-offset-4{
    margin-left:calc(100% / 12 * 4)
  }
  .col-xs-offset-5{
    margin-left:calc(100% / 12 * 5)
  }
  .col-xs-offset-6{
    margin-left:calc(100% / 12 * 6)
  }
  .col-xs-offset-7{
    margin-left:calc(100% / 12 * 7)
  }
  .col-xs-offset-8{
    margin-left:calc(100% / 12 * 8)
  }
  .col-xs-offset-9{
    margin-left:calc(100% / 12 * 9)
  }
  .col-xs-offset-10{
    margin-left:calc(100% / 12 * 10)
  }
  .col-xs-offset-11{
    margin-left:calc(100% / 12 * 11)
  }
  .col-xs-offset-12{
    margin-left:calc(100% / 12 * 12)
  }
}
/* mettendo inline block mi rende uno span completamente pers */
/* fixare div */
/* .fixed{
  z-index: ;
  top: ;
  left: ;
  width: ;
  position: fixed;
  height: ;
  background-color:  #;
  border-bottom: ;
 */
