body{
  font-family: 'Roboto', sans-serif;
}

.top , .center{
  height: 50px;
}
.top img{
  height: 100%;
}

#logo{
  height: 70px;
  vertical-align: middle;
}
#cerca{
  font-size: 30px;
  vertical-align: middle;
}
#colore{
  color: #0172ce;
  border-bottom: 3px solid #0172ce;
}

.bottom .sx img{
  height: 50px;
}
.bottom .dx li{
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 20px 20px;
}
header li, main li {
  display: inline;
  text-decoration: none;
  color: #7c7c7c;
  margin-right:10px;
}
i{
  margin-left: 3px;
}
header li:hover, main li:hover{
  color: #0172ce;
}

.locandina{
  background-image: url(https://www.playstationlifestyle.net/assets/uploads/2019/06/Cyberpunk2077-gameplay-released.jpg);
  height: 550px;
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom 30px;
  background-repeat: no-repeat;
}

p{
  font-size: 50px;
}
.btn:hover{
  transform: scale(1.1);
}
.btn{
  text-decoration: none;
  border-radius: 30px;
  color: white;
  padding: 10px 30px;
  border: none;
  font-size: 20px;
}
.blue{
  background-color: #0172ce;
}
.grey{
  background-color: grey;
}

.btn:hover{
  transform: scale(1.1);
}
.giochi{
  background-image: linear-gradient(to bottom, #c9c9c9 0%, #ffffff 7%);
  height: 568px;
}

.consigli img{
  width: calc(100% / 4 - 15px);
  margin-right: 20px;
  height: 350px;
}

.consigli img:hover{
  padding: 5px 5px;
  border: 3px solid #0172ce;
}

.sfoglia{
  background-image: linear-gradient(to bottom, #bdbdbd 0%, #ffffff 7%);
  height: 500px;
}

h5{
  margin-top: 20px;
  font-size: 40px;
}
h5:hover{
  color: #0172ce;
}
.box{
  border: 2px solid black;
  width: 45%;
  height: 600px;
  margin-top: 50px;
  position: relative;
}
.box li{
  font-size: 25px;
  color: black;
  margin-top: 25px;
}

.erase{
  position: absolute;
  bottom: 20px;
  margin-left: 32%;
}
/* https://i.pinimg.com/originals/2b/3c/32/2b3c32831151c3c0ac0a24e2241f5d7c.jpg */
h3{
  margin-top: 100px;
  font-size: 30px;
  color: #0172ce;
}

.ricerca input{
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  width: 30%;
  font-size: 20px;
  margin-top: 10px;
}
.ricerca button{
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  width: 30%;
  cursor: pointer;
  background-color: #0172ce;
  font-size: 20px;
  margin-top: 10px;
}
.ricerca input:focus{
  outline: none;
  text-align: center;
}
.altro{
  margin-top: 500px;
  margin-left: 20px;
}
.altro img{
  height: 330px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.altro img:hover{
  padding: 5px 5px;
  border: 3px solid #0172ce;
}

footer{
  background-color: #00439c;
  margin-top: 70px;
}

footer li{
  list-style: none;
  color: white;
  font-size: 25px;
  margin-bottom: 15px;
}

footer li:hover{
  color: rgb(97, 217, 255);
}

span{
  display: inline-block;
  margin-left: 33%;
}

.sony{
  padding-top: 50px;
  padding-left: 25px;
}
.sony li {
  display: inline;
}
.sony img {
  height: 100px;
  vertical-align: middle;
}
